/* footer > nav{
    display: none;
} */

footer{
    font-family: "Karla", sans-serif;
    background-color: #EDEFEE;
    /* color: #ffffff; */
}

footer .img{
    padding: 2.25em 0 0 0;
}

footer h3{
    font-family: "Markazi Text", serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #333333;
}

.footer-nav ul{
    padding-left: 0;
}

.footer-nav li{
    list-style: none;
    text-decoration: none;
    margin: 1em 0;
}

.footer-nav a{
    text-decoration: none;
    color: #495f58;
}

/* .social-media-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .quick-links {
    display: flex;
    justify-content: space-between;
    gap: 2em;
} */