/* footer > nav{
    display: none;
} */

footer{
    font-family: "Karla", sans-serif;
    background-color: var(--lightpink);
    /* color: #ffffff; */
}

footer .img{
    padding: 2em 0 0 0;
}

footer h3{
    font-family: "Markazi Text", serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--black);
}

.footer-nav ul{
    padding-left: 0;
}

.footer-nav li{
    list-style: none;
    text-decoration: none;
    margin: 1em 0;
}

.footer-nav a{
    text-decoration: none;
    color: var(--green);
}

/* .social-media-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.quick-links a.active{
    /* display: flex;
    justify-content: space-between;
    gap: 2em; */
    text-decoration: underline;
    color: var(--green);
}