/* footer > nav{
    display: none;
} */

footer{
    font-family: "Karla", sans-serif;
    background-color: #EDEFEE;
    /* color: #ffffff; */
}

footer .img{
    padding: 2.25em 0 0 0;
}

footer h3{
    font-family: "Markazi Text", serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #333333;
}

.footer-nav ul{
    padding-left: 0;
}

.footer-nav li{
    list-style: none;
    text-decoration: none;
}

.footer-nav a{
    text-decoration: none;
    color: #495f58;
}

.social-media-links{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.quick-links {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Creates 3 equal columns */
    grid-template-rows: repeat(2, auto);    /* Creates 2 equal rows */
    gap: 1.5em;
}

.contactus-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    grid-template-rows: repeat(2, auto);    /* Creates 2 equal rows */
    gap: 1.5em;
}