.hero-section{
    background-color: hsl(160, 13%, 33%);
    color: #EDEFEE;
    padding: 0 0 2em 0;
}

.cta{
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 2fr 1fr;
    /* display: flex; */
    justify-content: space-between;
    gap: 0.625em;
    margin: 0 0 1em;
}

.res-title{
    color: #F4CE14;
    font-size: 4rem;
    font-family: "Markazi Text", serif;
    font-weight: 500;
}

.res-location{
    font-family: "Markazi Text", serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 0.1;
    margin: 0 0 0.5em;
}

.cta p{
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

.banner-img{
    max-width: 100%;
    display: block;
    /* width: 100%; */
    /* align-self: center; */
    border-radius: 1em;
}

.cta aside button{
    background-color: #F4CE14;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1rem;
    border-style: none;
    padding: 0.5em 1em;
    cursor: pointer;
    color: var(--black);
}

