.highlights-section{
    margin: 1em 0;
}
.highlights-title{
    font-size: 2rem;
    font-family: "Markazi Text", serif;
    font-weight: 600;
    margin: 0 0 0.5em 0;
}

.dish-info{
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 3fr 1fr;
    /* grid-auto-flow: column; */
    /* justify-content: space-between; */
    align-items: center;
    gap: 0.625em;
    margin: 0 0 1em 0;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #EDEFEE;
}

.dish-info > img{
    /* width: 100%; */
    max-width: 100%;
    display: block;
    /* align-self: center; */
    /* border-radius: 1em; */
}

.dish-title{
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
    color: #333333;
}

.dish-description{
    width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: #333333;
}

.dish-price{
    font-family: "Karla", sans-serif;
    font-weight: 500;
    color: #EE9972;
    font-size: 1rem;
}

.dish-delivery{
    display: none;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: #333333;
}