header{
    margin: 1em 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    max-width: 100%;
    display: block;
    cursor: pointer;
    width: 7em;
    height: 1.8em;
}

.nav ul{
    padding-left: 0;
}

.nav li{
    list-style: none;
    text-decoration: none;
    /* margin: 1em 0; */
}

.nav a{
    text-decoration: none;
    color: #333333;
}

.nav-quick-links {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.nav-quick-links a.active{
    background-color: var(--green);
    color: var(--white);
    padding: 0.275em;
    border-radius: 0.35em;
}
