header{
    margin: 0.5em 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav > img{
    max-width: 100%;
}

.nav > ul{
    display: none;
}

#home{
    cursor: pointer;
}

/* ul > li{
    list-style-type: none;
}

a{
    text-decoration: none;
} */
