header{
    margin: 0.5em 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    max-width: 100%;
    cursor: pointer;
}

.nav ul{
    padding-left: 0;
}

.nav li{
    list-style: none;
    text-decoration: none;
    /* margin: 1em 0; */
}

.nav a{
    text-decoration: none;
    color: #333333;
}

.nav-quick-links {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

/* .nav #logo{
    align-self: ;
} */

/* #home{
    cursor: pointer;
} */

/* ul > li{
    list-style-type: none;
}

a{
    text-decoration: none;
} */
