:root{
  --green: #495f58;
  --yellow: #f4ce14;
  --black: #333333;
  --pink: #ee9972;
  --white: #edefee;
  --red: #DC143C;
  --lightpink: #FBDABB;
}

*{
  margin: 0;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
